<div class="grid-container fluid" id="home">

    <div class="grid-x grid-margin-x">

        <div class="cell small-4">
            {{> logo}}
        </div>

        <div class="cell small-4">cell 1 </div>
        <div class="cell small-4">cell 2 </div>
    </div>
</div>