$padding: 12px;
$breakpoint-classes: (small medium large xlarge);
$body-font-family: 'nimbus-sans', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
$serif-font-family: "henriette-compressed", serif;
$body-font-color:  #002f39;
$background-color: #ffffff;
$foreground-color: #000033;
$alternate-color:  #9999cc;
$highlight-color:  #330099;

$logo-color:               #ffffff;
$pronunciation-icon-color: #bab5e5;
$pronunciation-color:      rgba(#173145, .5);