#canopy {

    .viewport-height {
        height: 80vh;
    }

    .title {
        display: block;
        color: #071425;
        font-family: $body-font-family;
        font-weight: 900;
        white-space: nowrap;
    }

    .objective {
        font-weight: 500;
        letter-spacing: .06em;
        color: transparent;
        margin-top: 10px;

        span {
            display: inline-block;
            position: relative;
            margin-right: 1em;
            overflow: hidden;

            &:before {
                content: attr(title);
                position: absolute;
                top: 0;
                right: 100%;
                z-index: 1;
                color: #000;
            }

            &:nth-child(1):before {
                animation: objective-unindent 600ms ease-out 0ms forwards;
            }

            &:nth-child(2):before {
                animation: objective-unindent 600ms ease-out 300ms forwards;
            }

            &:nth-child(3):before {
                animation: objective-unindent 600ms ease-out 600ms forwards;
            }

            &:nth-child(4):before {
                animation: objective-unindent 600ms ease-out 900ms forwards;
            }
        }
    }

    .objective.flash span {

        &:nth-child(1):before {
            animation: objective-flash-1 60s steps(1) 30s infinite;
        }

        &:nth-child(2):before {
            animation: objective-flash-2 60s steps(1) 0s infinite;
        }

        &:nth-child(3):before {
            animation: objective-flash-3 60s steps(1) 120s infinite;
        }

        &:nth-child(4):before {
            animation: objective-flash-2 60s steps(1) 60s infinite;
        }
    }
}

@keyframes objective-unindent {

    0% {
        right: 100%;
        color: yellow;
    }

    33.33% {
        // right: 33%;
        color: cyan;
    }

    66.66% {
        // right: 100%;
        color: magenta;
    }

    100% {
        right: 0%;
        color: black;
    }
}

// @keyframes objective-flash-1 {
//     0% {
//         right: 0%;
//         color: magenta;
//     }
//     10% { color: black; }
//     20% { color: yellow; }
//     30% { color: black; }
//     40% { color: cyan; }
//     50% { color: magenta; }
//     60% { color: black; }
//     70% { color: yellow; }
//     80% { color: black; }
//     90% { color: cyan; }
//     100% {
//         right: 0%;
//         color: black;
//     }
// }

// @keyframes objective-flash-2 {
//     0% {
//         right: 0%;
//         color: black;
//     }
//     10% { color: magenta; }
//     20% { color: black; }
//     30% { color: cyan; }
//     40% { color: black; }
//     50% { color: magenta; }
//     60% { color: black; }
//     70% { color: black; }
//     80% { color: black; }
//     90% { color: cyan; }
//     100% {
//         right: 0%;
//         color: black;
//     }
// }

// @keyframes objective-flash-3 {
//     0% {
//         right: 0%;
//         color: black;
//     }
//     10% { color: cyan; }
//     20% { color: black; }
//     30% { color: cyan; }
//     40% { color: black; }
//     50% { color: black; }
//     60% { color: black; }
//     70% { color: magenta; }
//     80% { color: black; }
//     90% { color: magenta; }
//     100% {
//         right: 0%;
//         color: black;
//     }
// }