<!doctype html>

<html>

    <head>
        
        <title>{{#if title}}{{title}}{{^}}No Title{{/if}}</title>

        <link rel="stylesheet" type="text/css" href="build/css/main.css">

    </head>

    <body>

        {{> body}}

        <script type="text/javascript" src="build/js/main.js"></script>

    </body>

</html>
