<!doctype html>
<html>
    <head>
        <title>{{#if title}}{{title}}{{^}}No Title{{/if}}</title>
        <link rel="stylesheet" type="text/css" href="/styles/main.css">
    </head>
    <body>
        <h1>layouts/default.hbs</h1>
        {{> body}}
        <script type="text/javascript" src="/scripts/main.js"></script>
    </body>
</html>
