<!doctype html>

<html>

    <head>
        
        <title>{{#if site.title}}{{site.title}}{{^}}No Title{{/if}}</title>

        <link rel="stylesheet" type="text/css" href="build/css/main.css">

    </head>

    <body>

        {{> body}}

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-34470880-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'UA-34470880-1');
        </script>

        <script type="text/javascript" src="build/js/main.js"></script>

    </body>

</html>
