
<div class="viewport-panel panel-one-third panel-align-top" id="canopy">

    <div class="viewport-panel-inner">

        <div class="grid-container fluid">

            <div class="grid-x">

                <div class="cell medium-10 medium-offset-1 large-8 large-offset-2">

                    {{! TITLE }}
                    <h1 class="title">
                        <a href="#">
                            <span class="text">{{about.name}}</span>
                            <span class="representation"></span>
                        </a>
                    </h1>

                    {{! PRONUNCIATION }}
                    <p class="pronunciation">
                        <a href="#">
                            <span class="text">{{about.pronunciation}}</span>
                            <span class="representation"></span>
                        </a>
                    </p>

                    {{! Objective }}
                    <p class="objective">
                        {{#each about.objective}}
                            <span>{{this}}</span>
                        {{/each}}
                    </p>

                </div>

            </div>{{!-- /.grid-x --}}

        </div>{{!-- /.grid-container.fluid --}}

    </div>{{!-- /.viewport-panel-inner --}}

</div>{{!-- /#canopy.viewport-panel --}}