<div class="grid-container" id="canopy">

    <div class="grid-x align-middle">

        <div class="cell small-10 small-offset-1">
            <h1 class="title">{{about.name}}</h1>
            <p class="objective">
                {{#each about.objective}}
                    <span title="{{this}}">{{this}}</span>
                {{/each}}
            </p>
        </div>

        <div class="cell small-1 viewport-height"></div>
    </div>
</div>