
<div class="grid-container fluid" id="contact">

    <div class="grid-x">

        <div class="cell small-10 small-offset-1">
            <ul class="menu">
                <li><a href="http://github.com/chrismcclellan">Github</a></li>
                <li><a href="http://linkedin.com/in/christopher-mcclellan
">Linkedin</a></li>
                <li><a href="http://twitter.com/chris_mcclellan">Twitter</a></li>
                <li><a href="mailto:chris@chrismcclellan.com">Email</a></li>
            </ul>
        </div>
        <div class="cell small-1"></div>
    </div>
</div>