
<div class="grid-container fluid" id="design">

{{!--     <div class="grid-x">
        <div class="cell">
            <h3>From "best" to "best at the time"</h3>
        </div>
    </div> --}}

    <div class="grid">

            <div class="item">
                <div class="content">
                    <img src="/build/images/design/fastcompany-1.jpg">
                </div>
            </div>

            <div class="item">
                <div class="content">
                    <img src="/build/images/design/fastcompany-2.jpg">
                </div>
            </div>

            <div class="item">
                <div class="content">
                    <img src="/build/images/design/freevent-1.jpg">
                </div>
            </div>

            <div class="item">
                <div class="content">
                    <img src="/build/images/design/nomadsync-1.jpg">
                </div>
            </div>

            <div class="item">
                <div class="content">
                    <img src="/build/images/design/pes-1.jpg">
                </div>
            </div>

            <div class="item">
                <div class="content">
                    <img src="/build/images/design/pes-2.jpg">
                </div>
            </div>

            <div class="item">
                <div class="content">
                    <img src="/build/images/design/restaurant-1.jpg">
                </div>
            </div>

            <div class="item">
                <div class="content">
                    <img src="/build/images/design/serverpilot-1.jpg">
                </div>
            </div>

            <div class="item">
                <div class="content">
                    <img src="/build/images/design/serverpilot-2.jpg">
                </div>
            </div>

            <div class="item">
                <div class="content">
                    <img src="/build/images/design/spoon-university-1.jpg">
                </div>
            </div>

            <div class="item">
                <div class="content">
                    <img src="/build/images/design/spoon-university-2.jpg">
                </div>
            </div>

            <div class="item">
                <div class="content">
                    <img src="/build/images/design/supertemp-2.jpg">
                </div>
            </div>

            <div class="item">
                <div class="content">
                    <img src="/build/images/design/whatdoen-1.jpg">
                </div>
            </div>


    </div><!-- /.grid -->
</div>