
<div class="grid-container" id="design">

    <div class="grid-x">
        <div class="cell small-10 small-offset-1">
            <h3 class="text-align-center">Designs... <small>coming.</small></h3>
        </div>
    </div>
</div>