
<footer class="grid-container fluid" id="footer">

    <div class="grid-x">

        <div class="cell small-10 small-offset-1">
            <p class="copyright">Chris McClellan &copy; 2018</p> 
        </div>

    </div>{{!-- /.grid-x --}}

</div>{{!-- /#canopy.viewport-panel --}}