
<div class="grid-container" id="skills">

    <div class="grid-x small-10 small-offset-1 small-up-2 medium-up-3 large-up-4 xlarge-up-4">

        {{#each about.skills}}
            <div class="cell">
                <span class="skill">{{this}}</span>
            </div>
        {{/each}}
    </div>
</div>